* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #ff5a5f;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 2.5em;
}

main {
    flex-grow: 1;
    background-image: url("https://img.freepik.com/foto-gratis/pareja-haciendo-corazon-manos-orilla-mar_23-2148019887.jpg?t=st=1727109514~exp=1727113114~hmac=33d5e10cc1758e14f0247a30dbe68e856b2e5b02186ce9177760788695a05743&w=740");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#calendar-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

input[type="date"] {
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    border-radius: 10px 10px 10px 10px;
    box-shadow: #333 20px 20px 20px;
    
}



footer {
    background-color: #ff5a5f;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}
